*.pyc
*.iml
*.ipr
*.class
.DS_Store
*.jar
*.war
*.ear
*.log
*.log.gz
target/
.idea
.project
.settings
.classpath
.metadata
.launch
.loadpath
*.swp
*.tmp
*.bin
bin/
tmp/
dependency-reduced-pom.xml
.DS_Store

